absl-py==1.4.0
aiofiles==22.1.0
aiosqlite==0.18.0
altair==4.2.2
ansi2html==1.8.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
autoviz==0.1.601
Babel==2.11.0
backcall==0.2.0
bleach==6.0.0
blinker==1.6.2
bokeh==2.4.3
branca==0.6.0
Brotli==1.0.9
cachetools==5.3.0
catboost==1.2
category-encoders==2.6.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
cmdstanpy==1.1.0
colorcet==3.0.1
colour==0.1.5
comm==0.1.2
contourpy==1.0.7
convertdate==2.4.0
copilot==0.1.9
cycler==0.11.0
Cython==0.29.35
dash==2.9.3
dash-bootstrap-components==1.3.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dtale==2.14.1
emoji==2.2.0
entrypoints==0.4
ephem==4.1.4
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.3
Flask==2.2.3
Flask-Compress==1.13
flask-ngrok==0.0.25
flatbuffers==23.3.3
folium==0.14.0
fonttools==4.38.0
fqdn==1.5.1
fsspec==2023.4.0
future==0.18.3
gast==0.4.0
geographiclib==2.0
geojson==3.0.1
geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.31
gmaps==0.9.0
google-auth==2.17.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.53.0
h5py==3.8.0
hijri-converter==2.3.1
holidays==0.24
holoviews==1.15.4
htmlmin==0.1.12
hvplot==0.8.3
idna==3.4
ImageHash==4.3.1
imbalanced-learn==0.10.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.8
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.1
jupyter-dash==0.4.2
jupyter-events==0.6.3
jupyter-ydoc==0.2.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.19.0
kaleido==0.2.1
keras==2.12.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
libclang==16.0.0
lightgbm==3.3.5
llvmlite==0.40.0
LunarCalendar==0.0.9
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
missingno==0.4.2
mistune==2.0.5
ml-dtypes==0.0.4
multimethod==1.9.1
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.57.0
numpy==1.23.5
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.0
packaging==23.0
pandas==1.5.3
pandas-profiling==3.6.6
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
phik==0.12.3
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
plotly==5.13.1
plotly-resampler==0.8.3.2
pmdarima==2.0.3
prometheus-client==0.16.0
prompt-toolkit==3.0.37
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyamg==5.0.0
pyarrow==12.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==3.0.2
pycparser==2.21
pyct==0.5.0
pydantic==1.10.7
pydeck==0.8.1b0
pydot==1.4.2
Pygments==2.14.0
PyMeeus==0.5.12
Pympler==1.0.1
pyod==1.0.9
pyparsing==3.0.9
pyrsistent==0.19.3
pyspark==3.4.0
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
rsa==4.9
scandir==1.10.0
schemdraw==0.15
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.9.3
seaborn==0.12.2
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0.post1
sktime==0.17.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
spark==0.2.1
squarify==0.4.3
stack-data==0.6.2
statsmodels==0.13.5
streamlit==1.22.0
strsimpy==0.2.1
sweetviz==2.1.4
tangled-up-in-unicode==0.2.0
tbats==1.1.3
tenacity==8.2.2
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.12.0
tensorflow-macos==2.12.0
tensorflow-metal==0.8.0
termcolor==2.2.0
terminado==0.17.1
textblob==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
trace-updater==0.0.9.1
traitlets==5.9.0
typeguard==2.13.3
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uri-template==1.2.0
urllib3==1.26.14
validators==0.20.0
visions==0.7.5
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.5
wordcloud==1.8.2.2
wrapt==1.14.1
wurlitzer==3.0.3
xarray==2023.4.2
xgboost==1.7.5
xlrd==2.0.1
xxhash==3.2.0
y-py==0.5.9
ydata-profiling==4.1.2
yellowbrick==1.5
ypy-websocket==0.8.2
zipp==3.15.0
